[Unit]
Description=framed - high performance web server
Documentation=http://openresty.org
After=network.target remote-fs.target nss-lookup.target

[Service]
EnvironmentFile=-/opt/openresty/nginx/conf/environment
Type=forking
PIDFile=/opt/openresty/nginx/logs/nginx.pid
ExecStartPre=/opt/openresty/nginx/sbin/nginx -p /opt/openresty/nginx/ -t -c /opt/openresty/nginx/conf/nginx.conf
ExecStart=/opt/openresty/nginx/sbin/nginx -p /opt/openresty/nginx/ -c /opt/openresty/nginx/conf/nginx.conf
ExecReload=/opt/openresty/nginx/sbin/nginx -p /opt/openresty/nginx/ -c /opt/openresty/nginx/conf/nginx.conf -s reload
ExecStop=/opt/openresty/nginx/sbin/nginx -p /opt/openresty/nginx/ -c /opt/openresty/nginx/conf/nginx.conf -s stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target
